@model BooksIndexViewModel

@{
    ViewData["Title"] = "Books";
}

<h1>Books</h1>

<p>
    <a asp-action="Create" class="btn btn-dark">Add New Book</a>
</p>
<form asp-controller="ManageBooks" asp-action="Index">
    <p>
        Title: <input type="text" name="TitleSearch" />
        Author: <input type="text" name="AuthorSearch" />
        ISBN: <input type="text" name="ISBNSearch" />
        <input type="submit" value="Filter" />
         <input asp-action="index" type="submit" value="Reset" />

    </p>
</form>

       

<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
               Copies Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopiesAvailable)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.Id" class="btn btn-primary">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>

<form asp-controller="ManageBooks" asp-action="Index" style="display:inline">

        <input hidden name="TitleSearch" value="@Model.Filters.TitleSearch" />
        <input hidden name="ISBN" value="@Model.Filters.ISBNSearch" />
        <input hidden name="AuthorSearch" value="@Model.Filters.AuthorSearch" />
        <input hidden name="CurrentPage" value="@(Model.Filters.CurrentPage - 1)" />
        <input type="submit" value="Previous" class="btn btn-outline-dark @(Model.Books.HasPreviousPage ? "" : "disabled")"/>

</form>
<form asp-controller="ManageBooks" asp-action="Index" style="display:inline">

        <input hidden name="TitleSearch" value="@Model.Filters.TitleSearch" />
        <input hidden name="ISBN" value="@Model.Filters.ISBNSearch" />
        <input hidden name="AuthorSearch" value="@Model.Filters.AuthorSearch" />
        <input hidden name="CurrentPage" value="@(Model.Filters.CurrentPage + 1)" />
        <input type="submit" value="Next" class="btn btn-outline-dark @(Model.Books.HasNextPage ? "" : "disabled")"/>

</form>
