@model Biblioteca.Models.BorrowViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Borrow</h1>
    <a asp-action="Index" asp-controller="ManageMembers" class="btn btn-secondary">Back to List</a>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Copies Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopiesAvailable)
                </td>
                <td>
                    @if (item.CopiesAvailable == 0)
                    {
                        <div>No Available Copies </div>
                    }
                    else
                    {
                        <a asp-action="Borrow" asp-route-memberId="@Model.MemberId" asp-route-bookId="@item.Id" class="btn btn-success">Borrow</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>
