@model BorrowViewModel

@{
    ViewData["Title"] = "Index";
}

<h1>Borrow</h1>
    <a asp-action="Index" asp-controller="ManageMembers" class="btn btn-secondary">Back to List</a>
    <br />
    <br />
    <form asp-controller="Borrowing" asp-action="Index">
    <p>
        <input type="hidden" name="id" value="@Model.MemberId" />
        Title: <input type="text" name="TitleSearch" />
        Author: <input type="text" name="AuthorSearch" />
        ISBN: <input type="text" name="ISBNSearch" />
        <input type="submit" value="Filter" />
         <input asp-action="index" type="submit" value="Reset" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                Title
            </th>
            <th>
                Author
            </th>
            <th>
                ISBN
            </th>
            <th>
                Copies Available
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Books)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Title)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Author)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ISBN)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CopiesAvailable)
                </td>
                <td>
                    @if (item.CopiesAvailable == 0)
                    {
                        <div>No Available Copies </div>
                    }
                    else
                    {
                        <a asp-action="Borrow" asp-route-memberId="@Model.MemberId" asp-route-bookId="@item.Id" class="btn btn-success">Borrow</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>


<form asp-controller="Borrowing" asp-action="Index" style="display:inline">
        <input type="hidden" name="id" value="@Model.MemberId" />
        <input hidden name="TitleSearch" value="@Model.Filters.TitleSearch" />
        <input hidden name="ISBN" value="@Model.Filters.ISBNSearch" />
        <input hidden name="AuthorSearch" value="@Model.Filters.AuthorSearch" />
        <input hidden name="CurrentPage" value="@(Model.Filters.CurrentPage - 1)" />
        <input type="submit" value="Previous" class="btn btn-outline-dark @(Model.Books.HasPreviousPage ? "" : "disabled")"/>

</form>
<form asp-controller="Borrowing" asp-action="Index" style="display:inline">
        <input type="hidden" name="id" value="@Model.MemberId" />
        <input hidden name="TitleSearch" value="@Model.Filters.TitleSearch" />
        <input hidden name="ISBN" value="@Model.Filters.ISBNSearch" />
        <input hidden name="AuthorSearch" value="@Model.Filters.AuthorSearch" />
        <input hidden name="CurrentPage" value="@(Model.Filters.CurrentPage + 1)" />
        <input type="submit" value="Next" class="btn btn-outline-dark @(Model.Books.HasNextPage ? "" : "disabled")"/>

</form>
